.form-container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    /* background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%); */
  }
  
  .header-login{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 30px 10px;
    align-items: center;
  }
  
  .form-control-login{
    width: 300px;
    border: none;
  }
  
  .img-icon-login{
    margin: 0px 10px;
    height: 25px;
    width: 25px;
  }
  
  .inputs-login{
    display: flex;
    flex-direction: column;
    
  }
  
  .input-login{
    display: flex;
    align-items: center;
    margin: 15px;
    border: 1px solid;
    border-bottom: 1px solid #000; 
    border-radius: 12px;
    width: 350px;
  }
  
  .form-container-login form h1{
    text-align: center;
  }
  
  .form-container-login form h4{
    text-align: center;
  }
  
  .form-container-login form {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 30px;
      background-color: #fff;
    }

  .button-class-login{
      display: flex;
      /* flex-direction: column; */
    }
    
    
    
    .form-container-login form button {
      border: 1px solid black;
      border-radius: 12px;
      background-color: #000;
      color: white;
      width: 350px;
      margin: 12px;
    }
    
    .form-container-login form button:hover {
      border: 1px solid black;
      background: #000000; /* fallback for old browsers */
       background: -webkit-linear-gradient(
        to right,
        #434343,
        #000000
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #434343,
        #000000 
     ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     } 
   

     .form-container-login form h6{
      text-align: left;
      padding: 12px;
    }
  
   
   
    
  
    
    